* {
  font-family: "Poppins", sans-serif;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
  z-index: 1000;
}
.toast.showing {
  opacity: 1;
}
